@model string
<div class="col-4"></div>
<div class="col-4">
    <input type="button" id="btnSave" class="@(Model == "Delete" ? "btn btn-danger form-control" : "btn btn-info form-control")" value="@Model" />
</div>