@model Application.dto.CreateOrderViewModel
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Create";
    string create = "create";
}

<!-- ORDER -->
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark text-light">
            <div class="row">
                <div class="col-md-6">
                    <i class="fa fa-save"></i>&nbsp;Create Product
                </div>
                <div class="col-md-6 text-end"></div>
            </div>
        </div>
        <div class="card-body">
            <input type="hidden" id="currentOrderId" value="@HttpContextAccessor.HttpContext!.Session.GetInt32("CurrentOrderId") ?? 0" />
            <div class="text-end mt-4">
                <partial name="_ButtonOptionsPartial" model="create" />
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Customer</label>
                    <select class="form-control" asp-items="ViewBag.CustomerList" asp-for="Order.CustomerId">
                        <option value="">Select customer</option>
                    </select>
                    <span asp-validation-for="Order.CustomerId" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Order.OrderDate" class="form-label">Order Date</label>
                    <input asp-for="Order.OrderDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Order.ShipAddress" class="form-label">Ship Address</label>
                    <input class="form-control" asp-for="Order.ShipAddress" />
                    <span asp-validation-for="Order.ShipAddress" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Employee</label>
                    <select class="form-control" asp-items="ViewBag.EmployeeList" asp-for="Order.EmployeeId">
                        <option value="">Select employee</option>
                    </select>
                    <span asp-validation-for="Order.EmployeeId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ORDER DETAIL -->
<div class="card mt-4">
    <div class="card-header bg-secondary text-white">
        <strong>Lines</strong>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Product</label>
                <select class="form-control" asp-items="ViewBag.ProductList" asp-for="OrderDetails.ProductId"></select>
            </div>
            <div class="col-md-2">
                <label asp-for="OrderDetails.Quantity" class="form-label">Quantity</label>
                <input asp-for="OrderDetails.Quantity" class="form-control" type="number" />
                <span asp-validation-for="OrderDetails.Quantity" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="OrderDetails.UnitPrice" class="form-label">Unit Price</label>
                <input asp-for="OrderDetails.UnitPrice" class="form-control" type="number" readonly />
                <span asp-validation-for="OrderDetails.UnitPrice" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label class="form-label">Total</label>
                <input type="number" step="0.01" class="form-control" id="total" readonly />
            </div>
            <div class="col-md-1 d-flex align-items-end">
                <button class="btn btn-primary w-100" id="addItem">Add</button>
            </div>
        </div>
        <table class="table table-bordered mt-4" id="orderDetailsTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<!-- VALIDATED ADDRESS -->
<div class="row">
    <div class="col-12">
        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <strong>Validated Address</strong>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Street</label>
                        <input type="text" class="form-control" name="ValidatedAddress.Street" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" name="ValidatedAddress.City" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">State</label>
                        <input type="text" class="form-control" name="ValidatedAddress.State" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Postal Code</label>
                        <input type="text" class="form-control" name="ValidatedAddress.PostalCode" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Country</label>
                        <input type="text" class="form-control" name="ValidatedAddress.Country" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Geocoded Coordinates</label>
                        <input type="text" class="form-control" name="ValidatedAddress.GeocodedCoordinates" />
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Google Map</label>
                        <div id="map" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/GoogleMapIntegration.js"></script>
    <script src="~/js/saveOrder.js"></script>
    <script src="~/js/productPriceLoader.js"></script>
    <script src="~/js/totalCalculated.js"></script>
    <script src="~/js/saveOrderDetail.js"></script>
    <script src="~/js/deleteItem.js"></script>
    <script src="~/js/addressValidator.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2RXl-iQbiOYWvbiqtMgc78qZHW0x9RSE&callback=initMap">
    </script>
}